name: Manual Deploy to VPS

on:
  workflow_dispatch: 

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout (chỉ để hiện code trong log)
        uses: actions/checkout@v4

      - name: Setup SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
          set -e

          echo "===> Git pull main"
          cd /opt/IT4062_DRAW_GUESS
          git pull origin main

          echo "===> Cấp quyền và chạy deploy script"
          cd /opt/IT4062_DRAW_GUESS/src/server
          chmod +x deploy.sh
          ./deploy.sh

          echo "===> DONE"
          EOF
